<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750394764102-cpudvdofmhn2uv4vaer9mq3si3u6dcc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750394764102-cpudvdofmhn2uv4vaer9mq3si3u6dcc3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>750394764102-2pre1js76kofuofdrc38n718o59g6oao.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYn8hRaeF3VMbmYZtKf9mHhv7SMxAn-AQ</string>
	<key>GCM_SENDER_ID</key>
	<string>750394764102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arsoftech.agencyreporting</string>
	<key>PROJECT_ID</key>
	<string>agency-reporting-b08b2</string>
	<key>STORAGE_BUCKET</key>
	<string>agency-reporting-b08b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750394764102:ios:4ea3a5837be42e62225347</string>
</dict>
</plist>